# Python
__pycache__
*.py[cod]
*.so
.Python
env/
venv/
*.egg-info/
dist/
build/
*.egg
.idea/
.vscode/
*.swp
.DS_Store
# Node
node_modules/
*.log
*.env
*.cache

# PDF export
app/public/*.pdf
app/public/*.png
app/public/*.jpg
app/public/data/**/*